*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header{
    background-color: rgb(40, 40, 167);
}

.container {
    display: block;
    width: 100%;
    height: 20%;
}

.nav{
    width: 60%;
}

.navSeccion1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
}

.logo {
    display: flex;
    width: 25%;
    height: 5%;
}

.logo img{
    width: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-titulo{
    color: white;
}

.navSeccion2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
}

.nav-1{
    width: 50%;
}

.nav-2{
    width: 40%;
}

.nav-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: skyblue; */
    
}

.nav-link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 50%; */
    list-style-type: none;
    font-size: 19px;
}

.nav-link a{
    display: block;
    padding: 10px 0;
    font-size: 17px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.nav-link a:hover{
    color: black;
}

#categorias{
    margin-right: 10px;
    border-radius: .3rem;
    outline: none;
    color: white;
    background-color: transparent;
}

#categorias-item{
    color: black;
}
